version: 2
jobs:
  build_job:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run: yarn install
      - run: CI=false yarn build
    store_artifacts:
      path: ./build
workflows:
  version: 2
  run_build:
    jobs:
      - build_job