version: 2
  build_job:
    docker:
      - image: circleci/node
    env:
      CI: false
    steps:
      - checkout
      - run: yarn install
      - run: yarn build
    store_artifacts:
      path: ./build
workflows:
  version: 2
  run_test:
    jobs:
      - build_job